@mixin centerAbsolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-button {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.47, -0.43, 0.53, 1.31);
  position: fixed;
  width: 65px;
  height: 65px;
  background-color: $color-brand-secondary;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 50%;
  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 3px;
    background-color: #fff;
  }
  &:before {
    @include centerAbsolute;
  }
  &:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  &.is-active {
    transform: translateX(-50%) rotate(135deg);
    transition-timing-function: cubic-bezier(0.47, -0.43, 0.53, 1.31);
  }
}
