@import './scss/_components/checklist-item', './scss/_components/circle-button',
  './scss/_components/_navigation', './scss/_components/_header';
#root {
  padding-bottom: 10vh;
}
.items-section {
  padding-bottom: 10px;
  background-color: #efefef;
  &__title {
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
  }
}
