@import './scss/_base/colors';

@import './scss/_components/checklist', './scss/_components/circle-button',
  './scss/_components/_navigation', './scss/_components/_header';
#root {
  padding-bottom: 10vh;
  max-width: 900px;
  margin: 0 auto;
}
